html, body {
	 margin: 0;
	 padding: 0;
}
 body {
	 background-color: #000;
	 background: radial-gradient(ellipse at center, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
#stars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

 